<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SSH কনসোল শুধু 127.0.0.1-এ বাইন্ড থাকবে, তাই বাইরের নেটওয়ার্ক পারমিশন লাগে না -->

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.VmForge"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- QEMU প্রসেস ফরগ্রাউন্ডে চালু রাখার জন্য (ব্যাকগ্রাউন্ডে Android কিল করে দেয় না) -->
        <service
            android:name=".VmService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

    </application>
</manifest>
